:root {
  --yellow: #ffc600;
  --black: #272727;
}

html {
  /* border-box box model allows us to add padding and border to our elements without increasing their size */
  /* box-sizing: border-box; */
  /* A system font stack so things load nice and quick! */
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
  /* font-weight: 900; */
  /* font-size: 10px; */
  /* color: var(--black); */
  /* text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07); */
}

/*
  WAT IS THIS?!
  We inherit box-sizing: border-box; from our <html> selector
  Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
*/
/* *,
*:before,
*:after {
  box-sizing: inherit;
} */

body {
  background-image: url("./topography.svg"),
    linear-gradient(110deg, #ff512f, #dd2476);
  background-size: 340px, auto;
  min-height: calc(100vh - 100px);
  margin: 80px 25%;
  /* background: white; */
  background-position: fixed;
  font-weight: 100;
  font-family: "Arciform Sans";
}

h1 {
  letter-spacing: 5px;
  text-transform: uppercase;
}

.fa-music {
  color: rgba(0, 0, 0, 0.425);
}
